@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 62.5%;
}

:root{
    --second_font: 'Montserrat', sans-serif;
    --main_font: 'Nunito', sans-serif;
    --white: #F8F6F0;
    --black: #1c1c1c;
    --font_size_bigger:7.5rem;
    --font_size_big:5rem;
    --font_size_medium:3rem;
    --font_size_small:2rem;
    --font_size_smaller:1rem;
}

body {
    background-color: var(--white);
    color: var(--black);
    height: 100%;
    overflow-x: hidden;
}

h1{
    font-size: var(--font_size_bigger);
    font-family: var(--main_font);
    color: var(--black);
    text-transform: uppercase;
    font-weight: 400;
    margin: 1rem 0;
}

h2{
    font-size: var(--font_size_big);
    font-family: var(--main_font);
    color: var(--black);
    text-transform: uppercase;
    font-weight: 400;
    margin: 1rem 0;
}
h3{
    font-size: var(--font_size_medium);
    font-family: var(--main_font);
    color: var(--black);
    text-transform: uppercase;
    font-weight: 300;
    margin: 1rem 0;
}
h4{
    font-size: 2rem;
    font-family: var(--main_font);
    color: var(--black);
    text-transform: uppercase;
    font-weight: 300;
}
a,ul,li{
    text-decoration: none;
    list-style: none;
}
main{
    width: 100%;
}

::-webkit-scrollbar{
    width: 1.2rem;
    background-color: var(--black)
  }

::-webkit-scrollbar-track{
    background-color: #2a2a2a;
  }

::-webkit-scrollbar-thumb{
    background: var(--white);
    border-radius: 6px;
  }

.close_btn{
    top:2rem;
    left: 5rem;
    width: 4rem;
    height: 4rem;
    position: fixed;
    z-index: 999;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    opacity: 0;
    pointer-events: none;
}
#cambiarColores{
    width: 4rem;
    height: 4rem;
    position: fixed;
    top: 2rem;
    right: 5rem;
    z-index: 999;
    border: 2px solid transparent;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#cambiarColores:hover{
    border: 2px solid #F8F6F0;
}
#cambiarColores svg, .close_btn svg{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.general_header{
    background-image: url(../img/desert_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar{
    width: 100%;
    height: fit-content;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;
    transform: translateX(0);
}
.navbar a{
    font-size: var(--font_size_small);
    font-family: var(--main_font);
    color: #F8F6F0;
    margin: 3rem 2rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}
.navbar a:hover{
    text-decoration: underline;
}

.main_text{
    width: 100%;
    padding: 5rem 20%;
    text-align: center;
    transition: 0.5s ease-in-out;
}
.img_text{
    width: 100%;
    height: 50vh;
}

.img_text img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.main_text_button{
    width: 5rem;
    height: 4rem;
    margin: 2rem 1rem;
    border: 0;
    cursor: pointer;
}

.main_text_button img{
    object-fit: contain;
    object-position: center;
    height: 100%;
    width: 100%;
}

.main_text p{
    font-family: var(--second_font);
    font-size: var(--font_size_small);
    color: var(--black);
    margin: 2rem 0;
    line-height: 4rem;
}

.info_emilio_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: 5rem 0;
}

.info_emilio_container img{
    width: 50rem;
    height: 50rem;
    object-fit: contain;
    object-position: center;
}
.info_emilio_container p, .info_emilio_container a{
    font-family: var(--main_font);
    font-size: var(--font_size_small);
    margin: 1rem 0;
    color: var(--black);
    transition: 0.3s ease-in-out;
    font-weight: 700;
    text-transform: uppercase;
}

.info_emilio_container a:hover{
    text-decoration: underline;
    color: var(--black);
}


footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5rem 25%;
    background-color: var(--black);
}
.socials,.links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 75%;
}
.socials a,.links a{
    color: var(--white);
    opacity: 0.5;
    font-family: var(--main_font);
    font-size: var(--font_size_small);
    transition: 0.3s;
}

.socials a:hover,.links a:hover{
    opacity: 1;
}



@media only screen and (max-width: 940px) {
    .navbar{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        background-color: rgba(0, 0, 0, 0.8);
    }
    .close_btn{
        opacity: 1;
        pointer-events: all;
    }
    .general_header h1,.general_header h2,.general_header h4{
        text-align: center;
        color: #F8F6F0;
    }

    .general_header h1{
        font-size: var(--font_size_big);
    }
    .general_header h2{
        font-size: var(--font_size_medium);
    }
    .general_header h4{
        font-size: var(--font_size_small);
    }
    .main_text{
        width: 100%;
        padding: 5rem 10%;
        text-align: center;
        transition: 0.5s ease-in-out;
    }
    footer{
        flex-direction: column;
        padding: 5rem 0;
    
    }
    .socials,.links{
        width: 100%;
        margin: 1.5rem 0;
    }
    .socials a,.links a{
        font-size: var(--font_size_small);
    }

}


